{% extends 'base.html' %}

{% block title %} 关于 {% endblock %}

{% block content %}

    <div class="text-center">
        <h2 class="bg-info">基于遗传算法的任务调度系统</h2>
        <h3>技术支持 </h3>
        <h4>echarts:<a href="https://echarts.apache.org/zh/index.html">https://echarts.apache.org/zh/index.html</a></h4>
        <h4>bootstrap:<a href="https://getbootstrap.com/">https://getbootstrap.com/</a></h4>
        <h4>Django:<a href="https://www.django.cn/">https://www.django.cn/</a> </h4>
        <h4>MySQL:<a href="https://www.mysql.com/">https://www.mysql.com/</a></h4>
        <h4>networkx:<a href="https://networkx.org/">https://networkx.org/</a> </h4>
        <h3>本项目代码地址：</h3>
        <h4>GitHub：<a href="https://github.com/zzeoy/GA_schedule">https://github.com/zzeoy/GA_schedule</a></h4>
        <h3>涉及概念理解：</h3>
        <h4>调度:<a href="https://zh.wikipedia.org/wiki/%E8%B0%83%E5%BA%A6_(%E8%AE%A1%E7%AE%97%E6%9C%BA" >https://zh.wikipedia.org/wiki/%E8%B0%83%E5%BA%A6_(%E8%AE%A1%E7%AE%97%E6%9C%BA)</a></h4>
        <h4>DAG图:<a href="https://zh.wikipedia.org/wiki/%E6%9C%89%E5%90%91%E6%97%A0%E7%8E%AF%E5%9B%BE">https://zh.wikipedia.org/wiki/%E6%9C%89%E5%90%91%E6%97%A0%E7%8E%AF%E5%9B%BE</a> </h4>
        <h4>遗传算法：<a href="https://zh.wikipedia.org/wiki/%E9%81%97%E4%BC%A0%E7%AE%97%E6%B3%95">https://zh.wikipedia.org/wiki/%E9%81%97%E4%BC%A0%E7%AE%97%E6%B3%95</a></h4>
        <h4>红黑树:<a href="https://zh.wikipedia.org/wiki/%E7%BA%A2%E9%BB%91%E6%A0%91">https://zh.wikipedia.org/wiki/%E7%BA%A2%E9%BB%91%E6%A0%91</a> </h4>


    </div>

{% endblock %}
