{% extends 'base.html' %}

{% block title %} 关于 {% endblock %}

{% block content %}

    <div class="text-center">
        <h2>一个基于遗传算法的任务调度系统</h2>
        <h3>技术支持：   </h3>
        <h4>echarts:<a href="https://echarts.apache.org/zh/index.html">https://echarts.apache.org/zh/index.html</a></h4>
        <h4>bootstrap:<a href="https://getbootstrap.com/">https://getbootstrap.com/</a></h4>
        <h4>jquery:<a href="https://jquery.com/">https://jquery.com/</a></h4>
        <h4>Django:<a href="https://www.django.cn/">https://www.django.cn/</a> </h4>
        <h3>本项目代码地址：</h3>
        <h4>GitHub：<a href=""></a></h4>
    </div>

{% endblock %}
